{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h2>Sell</h2>
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="symbol">
            <option value="">Select a stock</option>
            {% for stock in stocks %}
                <option value="{{ stock.symbol }}">{{ stock["name"] }} ({{ stock["symbol"] }})</option>
            {% endfor %}
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}